<main>
    <h2>Register Page </h2>

    <form data-js="form">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" data-js="input-username">
        <br>

        <label for="email">Email:</label>
        <input type="email" name="email" id="email" data-js="input-email">
        <br>

        <label for="role">Role:</label>
        <select id="role" data-js="input-role">
            <option value="USER">USER</option>
            <option value="ADMIN">ADMIN</option>
        </select>
        <br>

        <label for="password">Password:</label>
        <input name="password" type="password" id="password" data-js="input-password">
        <br>


        <label for="password_confirmation">Repeat Password:</label>
        <input name="password_confirmation" type="password" id="password_confirmation" data-js="input-password_confirmation">
        <br>

        <input type="submit" value="Register" data-js="button-register">

    </form>
</main>
<script src="js/register.js"></script>